@page "/counter"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="@IncrementCount">Click me</button>

<input type="datetime" @bind="@myDate" @bind:format="yyyy-MM-dd" />
<input type="checkbox" @bind="@isValid" />

@code {
    DateTime myDate = DateTime.Now;
    bool isValid = true;
    public int CurrentCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentCount = await LocalStorage.GetItemAsync<int>("count");
    }

    async Task IncrementCount()
    {
        CurrentCount += 6;
        await LocalStorage.SetItemAsync("count", CurrentCount);
    }
}
