@page "/"
@inject Blazor.Notifications.NotificationService NotificationService

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="NotifyMe"  class="btn btn-info">Notify Me</button>

@code {
    

    async Task NotifyMe()
    {
        await NotificationService.CreateAsync("Hello from Blazor Notifier");
    }
}