@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject IModalService Modal
@inject CustomAuthStateProvider CustomAuthStateProvider

<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name!

                <button @onclick="Logout" class="btn btn-secondary">Logout</button>
            </Authorized>

            <NotAuthorized>
                <button @onclick="Login" class="btn btn-primary">Login</button>

            </NotAuthorized>
        </AuthorizeView>

    </div>

    <div class="content px-4">
        <CascadingAuthenticationState>
            @Body
        </CascadingAuthenticationState>
    </div>
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await authenticationStateTask;
    }

    async Task Login()
    {
        var loginModal = Modal.Show<Login>("Login");
        await loginModal.Result;
    }

    async Task Logout()
    {
        await CustomAuthStateProvider.MarkUserAsLoggedOut();
    }
}

