@inherits LayoutComponentBase
@inject IModalService Modal
@using Proba.Models
<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button @onclick="ShowModal" class="btn btn-primary">Login</button>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="@Persistence">
            @Body
        </CascadingValue>
    </div>
</div>

@code {
    public Persistence Persistence { get; set; }
    protected override void OnInitialized()
    {
        Persistence = new Persistence();
    }

    void ShowModal()
    {
        Modal.OnClose += ModalClosed;
        Modal.Show("Login", typeof(Login));
    }

    void ModalClosed(ModalResult modalResult)
    {

    }
}

