@inherits LayoutComponentBase
@inject IModalService Modal
@using Proba.Models
@using Microsoft.AspNetCore.Components.Authorization
<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name!
            </Authorized>
            
            <NotAuthorized>
                <button @onclick="ShowModal" class="btn btn-primary">Login</button>
                
            </NotAuthorized>
        </AuthorizeView>

        
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="@Persistence">
            @Body
        </CascadingValue>
    </div>
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    public Persistence Persistence { get; set; }
    protected override void OnInitialized()
    {
        Persistence = new Persistence();
    }

    void ShowModal()
    {
        Modal.OnClose += ModalClosed;
        Modal.Show("Login", typeof(Login));
    }

    void ModalClosed(ModalResult modalResult)
    {

    }
}

